<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangang.HangangRiver.timeline.dao.EventMapper">

	<insert id="insert" parameterType="com.hangang.HangangRiver.timeline.model.Event">
		INSERT INTO
			event
			(imageurl, isongoing, creation_time)
		VALUES
			(#{imageurl}, #{isongoing}, current_timestamp)
		<selectKey keyProperty="event_seq" resultType="Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<select id="detail" parameterType="com.hangang.HangangRiver.timeline.model.Event" resultType="com.hangang.HangangRiver.timeline.model.Event">
		SELECT
			*
		FROM
			event
		WHERE
			event_seq = #{event_seq}
	</select>

	<delete id="delete" parameterType="com.hangang.HangangRiver.timeline.model.Event">
		DELETE
		FROM
			event
		WHERE
			event_seq = #{event_seq}
	</delete>

	<update id="update">
		UPDATE
			event
		<set>
			<if test="event.imageurl != null and event.imageurl != ''">
				imageurl = #{event.imageurl}
			</if>
			<if test="event.isongoing != null">
				,isongoing = #{event.isongoing}
			</if>
		</set>
		WHERE
			event_seq = #{event_seq}
	</update>

	<select id="selectEventList" parameterType="com.hangang.HangangRiver.timeline.model.Event" resultType="com.hangang.HangangRiver.timeline.model.Event">
		SELECT
			*
		FROM 
			event
		WHERE
			isongoing = #{isongoing}
	</select>
</mapper>