<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangang.HangangRiver.meeting.dao.JoinDetailMapper">

	<insert id="insert" parameterType="com.hangang.HangangRiver.meeting.model.JoinDetail">
		INSERT INTO
			application
			(meeting_seq, user_id, participants_cnt, description, contact, application_time)
		VALUES
			(#{meeting_seq}, #{user_id}, #{participants_cnt}, #{description}, #{contact}, current_timestamp)
		<selectKey keyProperty="application_seq" resultType="Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<delete id="delete" parameterType="com.hangang.HangangRiver.meeting.model.JoinDetail">
		DELETE
		FROM
			application
		WHERE
			application_seq = #{application_seq}
	</delete>

	<select id="getJoinDetail" parameterType="int" resultType="com.hangang.HangangRiver.meeting.model.JoinDetail">
		SELECT
			*
		FROM
			application
		WHERE
			application_seq = #{application_seq}
	</select>

	<select id="getJoinDetails" parameterType="com.hangang.HangangRiver.meeting.model.JoinDetail" resultType="com.hangang.HangangRiver.meeting.model.JoinDetail">
		SELECT
			application.*, user.nickname
		FROM
			application, user
		WHERE
			meeting_seq = #{meeting_seq}
		AND
			application.user_id = user.user_id
	</select>

	<select id="getJoinDetailsByUserId" parameterType="String" resultType="com.hangang.HangangRiver.meeting.model.JoinDetail">
		SELECT
			*
		FROM
			application
		WHERE
			user_id = #{user_id}
	</select>

	<select id="isExistJoinDetails" resultType="boolean">
		SELECT EXISTS(
			SELECT
				*
			FROM
				application
			WHERE
				meeting_seq = #{meeting_seq} AND
				user_id = #{user_id}
		)
	</select>

	<select id="selectMyApplications" parameterType="string" resultType="com.hangang.HangangRiver.meeting.model.MeetingDetail">
		SELECT
			meeting.meeting_seq, meeting.title, meeting.meeting_time, meeting.participants_cnt, meeting.expected_cost, meeting.activity_seq, meeting.creation_time
		FROM
			application, meeting, contacted_meeting
		Where
			application.user_id = #{user_id}
		AND
			application.meeting_seq = meeting.meeting_seq
		AND
			contacted_meeting.application_seq != application.application_seq
	</select>
</mapper>