<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangang.HangangRiver.meeting.dao.MatchingMapper">

	<insert id="insert" parameterType="com.hangang.HangangRiver.meeting.model.ContactedMeeting">
		INSERT INTO
			contacted_meeting
			(meeting_seq, application_seq, contact_time)
		VALUES
			(#{meeting_seq}, #{application_seq}, current_timestamp)
	</insert>

	<select id="detail" parameterType="com.hangang.HangangRiver.meeting.model.ContactedMeeting"
			resultType="com.hangang.HangangRiver.meeting.model.ContactedMeeting">
		SELECT
			*
		FROM
			contacted_meeting
		WHERE
			contact_seq = #{contact_seq}
	</select>

	<select id="detailByMatchingInfo" resultType="com.hangang.HangangRiver.meeting.model.ContactedMeeting">
		SELECT
			*
		FROM
			contacted_meeting
		WHERE
			meeting_seq = #{meeting_seq} AND application_seq = #{application_seq}
	</select>


	<delete id="delete" parameterType="com.hangang.HangangRiver.meeting.model.ContactedMeeting">
		DELETE
		FROM
			contacted_meeting
		WHERE
			contact_seq = #{contact_seq}
	</delete>

	<select id="isContactedMeeting" parameterType="int" resultType="boolean">
		SELECT EXISTS(
			SELECT
				*
			FROM
				contacted_meeting
			WHERE
				meeting_seq = #{meeting_seq}
		)
	</select>


<!-- 	<select id="selectMyMatchingMeetings" parameterType="string" resultType="com.hangang.HangangRiver.meeting.model.MeetingDetail">
		SELECT
			meeting.meeting_seq, meeting.title, meeting.meeting_time, meeting.participants_cnt, meeting.expected_cost
		FROM
			contacted_meeting, meeting
		WHERE
			meeting.user_id = #{user_id}
		AND
			contacted_meeting.meeting_seq = meeting.meeting_seq
	</select>

	<select id="selectMyMatchingApplications" parameterType="string" resultType="com.hangang.HangangRiver.meeting.model.MeetingDetail">
		SELECT
			meeting.meeting_seq, meeting.title, meeting.meeting_time, meeting.participants_cnt, meeting.expected_cost
		FROM meeting,
			(SELECT
				contacted_meeting.meeting_seq
			FROM
				contacted_meeting, application
			WHERE
				contacted_meeting.application_seq = application.application_seq
			AND
				application.user_id = #{user_id})as matching
		WHERE
			meeting.meeting_seq = matching.meeting_seq
	</select> -->

	<select id="selectMyMatchings" parameterType="string" resultType="com.hangang.HangangRiver.meeting.model.MeetingDetail">
		SELECT
			*
		FROM
			(SELECT
				meeting.meeting_seq, meeting.title, meeting.meeting_time, meeting.participants_cnt, meeting.expected_cost, meeting.activity_seq, meeting.creation_time, matching.contact_seq
			FROM
				meeting,
				(SELECT
					contacted_meeting.meeting_seq, contacted_meeting.contact_seq
				FROM
					contacted_meeting, application
				WHERE
					contacted_meeting.application_seq = application.application_seq
				AND
					application.user_id = #{user_id})as matching
			WHERE
				meeting.meeting_seq = matching.meeting_seq)as result
			union
				(SELECT
					meeting.meeting_seq, meeting.title, meeting.meeting_time, meeting.participants_cnt, meeting.expected_cost, meeting.activity_seq, meeting.creation_time, contacted_meeting.contact_seq
				FROM
					contacted_meeting, meeting
				WHERE
					meeting.user_id = #{user_id}
				AND
					contacted_meeting.meeting_seq = meeting.meeting_seq)
		ORDER BY creation_time DESC
	</select>
</mapper>