<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangang.HangangRiver.meeting.dao.MeetingDetailMapper">

	<insert id="insert" parameterType="com.hangang.HangangRiver.meeting.model.MeetingDetail">
		INSERT INTO
			meeting
			(activity_seq, user_id, description, participants_cnt, meeting_location, meeting_time, expected_cost, creation_time, modification_time, title, contact
			<if test="lat != null and lat != ''">
				,lat
			</if>
			<if test="lng != null and lng != ''">
				,lng
			</if>)
		VALUES
			(#{activity_seq}, #{user_id}, #{description}, #{participants_cnt}, #{meeting_location}, #{meeting_time}, #{expected_cost}, current_timestamp, current_timestamp, #{title},#{contact}
			<if test="lat != null and lat != ''">
				,#{lat}
			</if>
			<if test="lng != null and lng != ''">
				,#{lng}
			</if>)
		<selectKey keyProperty="meeting_seq" resultType="Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<select id="detail" parameterType="com.hangang.HangangRiver.meeting.model.MeetingDetail" resultType="com.hangang.HangangRiver.meeting.model.MeetingDetail">
		SELECT
			meeting.*, user.nickname
		FROM
			meeting, user
		WHERE
			meeting_seq = #{meeting_seq}
		AND
			meeting.user_id = user.user_id
	</select>

	<update id="update">
		UPDATE
			meeting
		<set>
			<if test="meetingDetail.title != null and meetingDetail.title != ''">
				title = #{meetingDetail.title}
			</if>
			<if test="meetingDetail.description != null and meetingDetail.description != ''">
				,description = #{meetingDetail.description}
			</if>
			<if test="meetingDetail.participants_cnt != null">
				,participants_cnt = #{meetingDetail.participants_cnt}
			</if>
			<if test="meetingDetail.meeting_location != null and meetingDetail.meeting_location != ''">
				,meeting_location = #{meetingDetail.meeting_location}
			</if>
			<if test="meetingDetail.meeting_time != null">
				,meeting_time = #{meetingDetail.meeting_time}
			</if>
			<if test="meetingDetail.expected_cost != null">
				,expected_cost = #{meetingDetail.expected_cost}
			</if>
			<if test="meetingDetail.contact != null and meetingDetail.contact != ''">
				,contact = #{meetingDetail.contact}
			</if>
			<if test="meetingDetail.lat != null and meetingDetail.lat != ''">
				,lat = #{meetingDetail.lat}
			</if>
			<if test="meetingDetail.lng != null and meetingDetail.lng != ''">
				,lng = #{meetingDetail.lng}
			</if>
		</set>
		WHERE
			meeting_seq = #{meeting_seq}
	</update>

	<insert id="move" parameterType="com.hangang.HangangRiver.meeting.model.MeetingDetail">
		INSERT INTO
			deleted_meeting
			(activity_seq, user_id, description, participants_cnt, meeting_location, meeting_time, expected_cost, creation_time, modification_time, title, contact)
		VALUES
			(#{activity_seq}, #{user_id}, #{description}, #{participants_cnt}, #{meeting_location}, #{meeting_time}, #{expected_cost}, current_timestamp, current_timestamp, #{title},#{contact})
	</insert>

	<delete id="delete" parameterType="com.hangang.HangangRiver.meeting.model.MeetingDetail">
		DELETE
		FROM
			meeting
		WHERE
			meeting_seq = #{meeting_seq}
	</delete>

	<select id="selectAll" parameterType="com.hangang.HangangRiver.meeting.model.MeetingDetail" resultType="com.hangang.HangangRiver.meeting.model.MeetingDetail">
		SELECT
			mmseq as meeting_seq, creation_time, activity_seq, matching.user_id, meeting_time, participants_cnt, expected_cost, title, meeting_location, lat, lng, description, nickname, modification_time
		FROM
		(SELECT
			m.meeting_seq AS mmseq, c.meeting_seq AS cmseq, m.creation_time, m.activity_seq, m.user_id, m.meeting_time, m.participants_cnt, m.expected_cost, m.title, m.meeting_location, m.lat, m.lng, m.description, m.nickname, m.modification_time
		FROM
			(SELECT
				meeting.meeting_seq, meeting.user_id, meeting.activity_seq, meeting.description, meeting.participants_cnt, meeting.meeting_location, meeting.meeting_time, meeting.expected_cost, meeting.creation_time, meeting.modification_time, meeting.title, meeting.lat, meeting.lng, user.nickname
			FROM meeting, user
		WHERE
			meeting.user_id = user.user_id)as m 
		LEFT JOIN contacted_meeting c ON m.meeting_seq = c.meeting_seq) matching
		WHERE
			cmseq IS NULL
		<if test="startTime != null and startTime!= ''">
			AND
				creation_time BETWEEN #{startTime} AND #{endTime}
		</if>
		<if test="activity_seq != null and activity_seq!= ''">
			AND
				activity_seq = #{activity_seq}
		</if>
		<if test="startTime == null or startTime == ''">
			AND
				creation_time  BETWEEN (NOW() - INTERVAL 7 DAY) AND NOW()
		</if>
	</select>

	<select id="isDuplicatedDetail" resultType="boolean">
		SELECT EXISTS (
			SELECT
				*
			FROM
				meeting
			WHERE
				DATE(meeting_time) = DATE(#{meeting_time}) AND
				user_id = #{user_id}
		)
	</select>

	<select id="isExistMeetingDetail" parameterType="int" resultType="boolean">
		SELECT EXISTS (
			SELECT
				*
			FROM
				meeting
			WHERE
				meeting_seq = #{meeting_seq}
		)
	</select>

	<select id="selectMyMeetings" parameterType="string" resultType="com.hangang.HangangRiver.meeting.model.MeetingDetail">
		SELECT
			 meeting.meeting_seq, meeting.title, meeting.meeting_time, meeting.participants_cnt, meeting.expected_cost, meeting.activity_seq, meeting.creation_time
		FROM
			meeting left join contacted_meeting on meeting.meeting_seq = contacted_meeting.meeting_seq 
		WHERE
			contacted_meeting.meeting_seq is null
		AND
			meeting.user_id = #{user_id}
        ORDER BY meeting.creation_time DESC
	</select>
</mapper>