<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangang.HangangRiver.timeline.dao.TimeLineMapper">

	<insert id="insert" parameterType="com.hangang.HangangRiver.timeline.model.TimeLine">
		INSERT INTO
			timeline
			(user_id, location, imageurl, content, creation_time)
		VALUES
			(#{user_id}, #{location}, #{imageurl}, #{content}, current_timestamp)
		<selectKey keyProperty="timeline_seq" resultType="Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<delete id="delete" parameterType="com.hangang.HangangRiver.timeline.model.TimeLine">
		DELETE
		FROM
			timeline
		WHERE
			timeline_seq = #{timeline_seq}
	</delete>

	<select id="selectTimeLineList" parameterType="com.hangang.HangangRiver.timeline.model.TimeLineForm" resultType="com.hangang.HangangRiver.timeline.model.TimeLineForm">
		SELECT
			*
		FROM 
			timeline
		WHERE
			1 = 1
			<if test="startTime != null and startTime!= ''">
				AND
					creation_time BETWEEN #{startTime} AND #{endTime}
			</if>
	</select>

	<!--<select id="selectTimeLineListWithOffset" resultType="com.hangang.HangangRiver.timeline.model.TimeLineForm">-->
		<!--SELECT-->
			<!--*-->
		<!--FROM-->
			<!--timeline-->
		<!--WHERE-->
			<!--DATE(#{creation_time}) = DATE(creation_time)-->
		<!--ORDER BY-->
			<!--creation_time DESC LIMIT #{limit} OFFSET #{offset}-->
	<!--</select>-->

	<select id="selectTimeLineListWithOffset" resultType="com.hangang.HangangRiver.timeline.model.TimeLineForm">
		SELECT
			t1.*, t2.nickname
		FROM
			hanriver_meeting.timeline t1
		LEFT JOIN
			hanriver_meeting.user t2
		ON
			t1.user_id = t2.user_id
		ORDER BY
			t1.creation_time DESC LIMIT #{limit} OFFSET #{offset}
	</select>
</mapper>