<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangang.HangangRiver.weather.dao.WeatherMapper">

	<insert id="insert" parameterType="com.hangang.HangangRiver.weather.model.Weather">
		INSERT INTO
			weather
			(t1h, sky, pty, tmn, tmx, creation_time)
		VALUES
			(#{t1h}, #{sky}, #{pty}, #{tmn}, #{tmx}, current_timestamp)
		<selectKey keyProperty="weather_seq" resultType="Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<select id="selectWeather" resultType="com.hangang.HangangRiver.weather.model.Weather">
		SELECT
			*
		FROM 
			weather
		ORDER by
			weather_seq
		DESC
		LIMIT 1 
	</select>
</mapper>